@using Quick.EntityFrameworkCore.Plus;

<div class="card">
    <div class="card-header">
        <div class="form-inline">
            <div class="form-group ml-2">
                <button type="button" class="btn btn-primary" @onclick="Add">@Global.Instance.TextManager.GetText(Texts.Add)</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@Global.Instance.TextManager.GetText(Model.AgentInfo.Texts.Name)</th>
                    <th scope="col">@Global.Instance.TextManager.GetText(Texts.Operate)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ConfigDbContext.CacheContext.Query<Model.AgentInfo>())
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-primary" @onclick="@(()=>Edit(item))">
                                        @Global.Instance.TextManager.GetText(Texts.Edit)
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger" @onclick="@(()=>Delete(item))">
                                        @Global.Instance.TextManager.GetText(Texts.Delete)
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<ModalLoading @ref="modalLoading" />
<ModalWindow @ref="modalWindow" />
<ModalAlert @ref="modalAlert" />