@inherits ComponentBase_WithGettextSupport

<EditForm Model="this">
    <div class="sticky-top alert-light">
        <div class="btn-toolbar p-2" role="toolbar">
            <div class="btn-group mr-2 mt-1">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@TextProfile</span>
                    </div>
                    <div class="input-group-prepend">
                        <button class="btn btn-secondary" type="button" @onclick="AddProfile" title="@TextAdd">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                    <InputSelect @bind-Value="@CurrentProfileId" class="form-control">
                        @foreach (var t in ProfileContexts)
                        {
                            <option value="@t.Profile.Id">@t.Profile.Name</option>
                        }
                    </InputSelect>
                    @if (CurrentProfileContext != null)
                    {
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button" @onclick="ShowLogs" title="@TextLogs">
                                <i class="fa fa-file" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button" @onclick="EditProfile" title="@TextEdit">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-secondary" type="button" @onclick="DeleteProfile" title="@TextDelete">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    }
                </div>
            </div>
            @if (CurrentProfileContext != null && CurrentProfileContext.Connected)
            {
                <div class="btn-group mr-2 mt-1">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@TextAgent</span>
                        </div>
                        <InputSelect @bind-Value="@CurrentAgentName" class="form-control">
                            @if (CurrentProfileContext.Agents != null)
                            {
                                @foreach (var t in CurrentProfileContext.Agents)
                                {
                                    <option value="@t.AgentName">@t.AgentName</option>
                                }
                            }
                        </InputSelect>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary" title="@TextAdd"
                                    @onclick=@(e => AddProxyRule(CurrentAgent.AgentName))>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @if (CurrentAgent != null)
    {
        <div class="row ml-0 mr-0 mb-2">
            @if (!CurrentAgent.IsLoggedIn)
            {
                <div class="col-12">
                    <div class="alert alert-danger" role="alert">
                        @TextAgentNotLogin
                    </div>
                </div>
            }
            @foreach (var proxyRuleContext in GetProxyRuleContexts(CurrentAgent.AgentName))
            {
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 p-2">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-cube mr-1" aria-hidden="true"></i>
                            <span>@proxyRuleContext.Config.Name</span>
                        </div>
                        <div class="card-body small p-2">
                            <p class="mb-0">
                                <span class="font-weight-bold">
                                    @TextLocal:
                                </span>
                                @proxyRuleContext.Config.LocalIPAddress:@proxyRuleContext.LocalPort
                            </p>
                            <p class="mb-0">
                                <span class="font-weight-bold">
                                    @TextRemote:
                                </span>@proxyRuleContext.Config.RemoteHost:@proxyRuleContext.Config.RemotePort
                            </p>
                        </div>
                        <div class="card-footer p-1">
                            <div class="btn-group p-1">
                                @if (CurrentAgent.IsLoggedIn)
                                {
                                    <div class="custom-control custom-switch d-inline">
                                        <InputCheckbox class="custom-control-input"
                                                       id="@($"switch_enable_proxyrule_{proxyRuleContext.Config.Id}")"
                                                       @bind-Value="proxyRuleContext.Config.Enable"
                                                       @onclick="@(e => onProxyRuleEnableChanged(proxyRuleContext))" />
                                        <label class="custom-control-label"
                                               for="switch_enable_proxyrule_@proxyRuleContext.Config.Id"></label>
                                    </div>
                                }
                                else
                                {
                                    <div class="custom-control custom-switch d-inline">
                                        <InputCheckbox class="custom-control-input"
                                                       id="@($"switch_enable_proxyrule_{proxyRuleContext.Config.Id}")"
                                                       @bind-Value="proxyRuleContext.Config.Enable" disabled />
                                        <label class="custom-control-label"
                                               for="switch_enable_proxyrule_@proxyRuleContext.Config.Id"></label>
                                    </div>
                                }
                            </div>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-sm btn-secondary" title="@TextDuplicate"
                                        @onclick=@(e => DuplicateProxyRule((Glash.Client.Protocol.QpModel.ProxyRuleInfo)proxyRuleContext.Config))>
                                    <i class="fa fa-copy" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary" title="@TextEdit"
                                        @onclick=@(e => EditProxyRule((Glash.Client.Protocol.QpModel.ProxyRuleInfo)proxyRuleContext.Config))>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary" title="@TextDelete"
                                        @onclick=@(e => DeleteProxyRule((Glash.Client.Protocol.QpModel.ProxyRuleInfo)proxyRuleContext.Config))>
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</EditForm>

<ModalWindow @ref="modalWindow"></ModalWindow>
<ModalLoading @ref="modalLoading"></ModalLoading>
<ModalPrompt @ref="modalPrompt"></ModalPrompt>
<ModalAlert @ref="modalAlert"></ModalAlert>