@using Quick.LiteDB.Plus
@inherits ComponentBase_WithGettextSupport

<table class="table">
    <thead>
        <tr>
            <th scope="col">@TextName</th>
            <th scope="col">@TextChannelName</th>
            <th scope="col">@TextConnectTime</th>
            <th scope="col">
                @TextOperate
                <div class="btn-group btn-group-sm" role="group">
                    <button type="button" title="@TextAdd" class="btn btn-secondary pt-0 pb-0" @onclick="Add">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>    
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ConfigDbContext.CacheContext.Query<Model.ClientInfo>())
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Context?.Channel.ChannelName</td>
                <td>@item.Context?.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-primary" @onclick="@(()=>Edit(item))">
                                @TextEdit
                            </button>
                            <button type="button" class="btn btn-sm btn-danger" @onclick="@(()=>Delete(item))">
                                @TextDelete
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<ModalWindow @ref="modalWindow" />
<ModalAlert @ref="modalAlert" />