<div class="mt-1">
</div>
<Tabs IsNavPills>
    @foreach (var agent in Agents)
    {
        <TabPane Key="@agent">
            <Tab>
                @agent
            </Tab>
            <ChildContent>
                <nav class="navbar pl-0">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group mr-2">
                            <button type="button" class="btn btn-sm btn-secondary"
                                    title="@Global.Instance.TextManager.GetText(Texts.AddProxyRule)"
                                    @onclick=@(e=>AddProxyRule(agent))>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="btn-group mr-2">
                            <button type="button" title="@Global.Instance.TextManager.GetText(Texts.EnableAll)" class="btn btn-sm btn-secondary">
                                <i class="fa fa-check-square" aria-hidden="true"></i>
                            </button>
                            <button type="button" title="@Global.Instance.TextManager.GetText(Texts.DisableAll)" class="btn btn-sm btn-secondary">
                                <i class="fa fa-square-o" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </nav>
                @foreach(var proxyRule in ConfigDbContext.CacheContext.Query<Model.ProxyRule>())
                {
                    <div class="col-xl-4 col-lg-6 col-sm-12 mt-2">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-cube" aria-hidden="true"></i>
                                <span>@proxyRule.Name</span>
                            </div>
                            <div class="card-body small p-2">
                                <p class="mb-0">
                                    <span class="font-weight-bold">
                                        @Global.Instance.TextManager.GetText(Texts.Local):
                                    </span>
                                    @proxyRule.LocalIPAddress:@proxyRule.LocalPort
                                </p>
                                <p class="mb-0">
                                    <span class="font-weight-bold">
                                        @Global.Instance.TextManager.GetText(Texts.Remote):
                                    </span>@proxyRule.RemoteHost:@proxyRule.RemotePort
                                </p>
                            </div>
                            <div class="card-footer p-1">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-secondary">
                                        <i class="fa fa-desktop" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <button type="button" class="btn btn-sm btn-secondary"
                                        title="@Global.Instance.TextManager.GetText(Texts.EditProxyRule)"
                                        @onclick=@(e=>EditProxyRule(proxyRule))>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-secondary"
                                            title="@Global.Instance.TextManager.GetText(Texts.DeleteProxyRule)"
                                            @onclick=@(e=>DeleteProxyRule(proxyRule))>
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </ChildContent>
        </TabPane>
    }
    <TabPane Key="System">
        <Tab>
            @Global.Instance.TextManager.GetText(Texts.System)
        </Tab>
        <ChildContent>
            <nav class="navbar pl-0">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-sm btn-secondary" @onclick="Logout">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            @Global.Instance.TextManager.GetText(Texts.Logout)
                        </button>
                    </div>
                </div>
            </nav>
        </ChildContent>
    </TabPane>
</Tabs>
<ModalAlert @ref="modalAlert"></ModalAlert>
<ModalWindow @ref="modalWindow"></ModalWindow>