@inherits AbstractProxyTypeUI<Web>
<div class="form-group">
    <label>@Global.Instance.TextManager.GetText(Web.Texts.Schema)</label>
    <InputSelect class="form-control" @bind-Value="@Model.Schema">
        <option value="">@Global.Instance.TextManager.GetText(ClientTexts.PleaseSelect)</option>
        <option value="http">http</option>
        <option value="https">https</option>
    </InputSelect>
    <ValidationMessage For="@(() => Model.Schema)" />
</div>
<div class="form-group">
    <label>@Global.Instance.TextManager.GetText(Web.Texts.Path)</label>
    <InputText type="password" class="form-control" @bind-Value="@Model.Path" />
    <ValidationMessage For="@(() => Model.Path)" />
</div>