@inherits AbstractProxyTypeUI<ProxyType>
<div class="form-group">
    <label>@Global.Instance.TextManager.GetText(ProxyType.Texts.User)</label>
    <InputText class="form-control" @bind-Value="@Model.User" />
    <ValidationMessage For="@(() => Model.User)" />
</div>
<div class="form-group">
    <label>@Global.Instance.TextManager.GetText(ProxyType.Texts.Password)</label>
    <InputText class="form-control" @bind-Value="@Model.Password" />
    <ValidationMessage For="@(() => Model.Password)" />
</div>